.grid {
    font-family: Jost,sans-serif;
}
hr{
    width: 93%;
}
.col-sm-12-title{
    margin-top: 8px;
    margin-bottom: 20px;
    font-weight: 400;
    color: #000;
    font-size: 20px;
    line-height: 1.3em;
}
.item-sidebar ul {
    flex: 1;
    padding: 0 0 0 10px;
    margin: 0;
}
.item-sidebar ul li {
    list-style: none;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.item-sidebar ul li a {
    font-family: 'Jost', sans-serif !important;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    transition: padding-left linear 0.3s;
}

.item-sidebar ul li a::before {
    content: url('../images/arrow.svg');
    width: 12px;
    height: 22px;
    position: absolute;
    top: 0;
    left: -12px;
    transition: left linear 0.3s;
}
.item-sidebar ul li a:hover {
    padding-left: 16px;
}

.item-sidebar ul li a:hover:before {
    left: 0;
}
.col-4{
    padding-left: 50px;
}

.all-item-product {
    width: 100%;
    text-align: left;
}
.all-item-product .shop-title{
    font-weight: 400;
    color: #000;
    font-size: 42px;
    line-height: 1.24em;
    margin-bottom: 18px;
    text-transform: uppercase;
}
.shop-title-showing{
    display: flex;
    position: relative;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 7px;
}
.shop-title-showing p{
    font-size: 13px;
    margin: 8px 0;
}
.shop-title-showing-ordering{
    opacity: 1;
    margin-left: auto;
    transition: opacity .3s ease-out;
}
.shop-title-showing-ordering select{
   min-width: 180px;
    margin: 0;
}
.shop-title-showing-ordering .select2-hidden-accessible{
    border: none;
    outline: none;
    font-size: 15px;
    cursor: pointer;
}
.product-list--info-hover{
    width: 100%;
    display: inline-block;
    position: relative;
    vertical-align: top;
}
.columns-3 ul{
    display: flex;
}
.columns-3 ul li {
    margin: 5px;
  background-color: black;
    width: 33%;
}
