/* Css dùng chung cho cả project. không viết các css riêng vào file này. file html nào cũng link
vào trước các  file css khác */

/* Màu chủ đạo, kích thước dùng nhiều(Thêm vào đây dùng) của web. dung thì dùng cái này
    sau này đổi sang tông màu khác chỉ cần đổi ở đây.
- Cách dùng ví dụ: a { color: var(--text-color); }
*/
:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #313131;
    --height-header: 76px;
    --border-color: #cccccc;
}

* {
    box-sizing: inherit;
    padding: 0;
    margin: 0;
}

/* color blacked out */
::selection {
    background: #000;
    color: var(--white-color);
}
::-moz-selection {
    background: #000;
    color: var(--white-color);
}
::-webkit-selection {
    background: #000;
    color: var(--white-color);
}

/* Scrollbar css */
html *::-webkit-scrollbar {
    border-radius: 0;
    width: 10px;
}

html *::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba(0, 0, 0, 0.15);
}

html *::-webkit-scrollbar-track {
    border-radius: 0;
    background-color: rgba(0, 0, 0, 0);
}

/* Font size nhớ dùng rem. 16px => 1.6rem */
html {
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Jost', sans-serif !important;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    outline: none;
}

a:hover {
    outline: none;
    text-decoration: none;
    color: var(--text-color);
}

/*responsive*/
/* Khối content thì thêm class này vào. */
.grid {
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
}

/* Animation */

@keyframes scrollBottom {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes showModalUpToDown {
    from {
        opacity: 0;
        transform: translateY(-100px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes showModalRightToLeft {
    0% {
        opacity: 0;
        transform: translateX(calc(100% + 200px));
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Button custom */
.btn-custom-primary {
    height: 30px;
    width: 140px;
    display: flex;
    align-items: center;
    padding-left: 10px;
    font-size: 1.6rem;
    color: var(--text-color);
    border: 1px solid var(--black-color);
    border-radius: 12px;
    position: relative;
    transition: all linear 0.2s;
    cursor: pointer;
}

.btn-custom-primary::after {
    content: url('../images/arrow.svg');
    width: 18px;
    position: absolute;
    top: 10%;
    right: 8px;
    transition: all linear 0.2s;
}

.btn-custom-primary:hover {
    background-color: var(--black-color);
    border-radius: 4px;
    color: var(--white-color);
}

.btn-custom-primary:hover::after {
    content: url('../images/home/arrow_light.svg');
}

.btn-custom-sm {
    width: 80px !important;
    cursor: pointer;
    font-size: 1.8rem;
    color: var(--text-color);
}
