
/* Css dùng chung cho cả project. không viết các css riêng vào file này. file html nào cũng link
vào trước các  file css khác */

:root {
    --white-color: #fff;
    --black-color: #000;
    --text-color: #313131;
}

*{
    box-sizing: inherit;
}

html{
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Jost', sans-serif;
    box-sizing: border-box;
}

/*responsive*/
/* Khối content thì thêm class này vào. */
.grid{
    width: 1300px;
    max-width: 100%;
    margin: 0 auto;
}