.col-4{
    width: 23%;
}
.col-8{
    width: 77%;
}
.container-handmade{
    padding: 30px;
}
.grid .title{
    margin-top: 100px;
    margin-left: 20px;
    font-size: 1.3rem;
    font-style: italic;
    font-weight: bold;
    font-family: 'Jost', sans-serif !important;
    color: var(--black-color);
}
.grid .title .link-text span{
    color: var(--black-color);
}
.col-sm-12-title{
    margin-top: 8px;
    margin-bottom: 20px;
    font-weight: 400;
    color: #000;
    font-size: 20px;
    line-height: 1.3em;
}
.item-sidebar ul {
    flex: 1;
    padding: 0 0 0 10px;
    margin: 0;
}
.item-sidebar ul li {
    list-style: none;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.item-sidebar ul li a {
    font-family: 'Jost', sans-serif !important;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.2rem;
    transition: padding-left linear 0.3s;
}

.item-sidebar ul li a::before {
    content: url('../images/arrow.svg');
    width: 12px;
    height: 22px;
    position: absolute;
    top: 0;
    left: -12px;
    transition: left linear 0.3s;
}
.item-sidebar ul li a:hover {
    padding-left: 16px;
}

.item-sidebar ul li a:hover:before {
    left: 0;
}
.col-4{
    padding-left: 50px;
}

.all-item-product {
    width: 100%;
    text-align: left;
}
.item-sidebar .social-media li a {
    font-family: 'Jost', sans-serif !important;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    transition: padding-left linear 0.3s;
}
.container-inner .entry-title{
    font-weight: 400;
    color: #000;
    font-size: 42px;
    line-height: 1.24em;
    margin: 25px 0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
.wp-post .wp-post-information p{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.4;
}
.wp-post-information_lorem{
   position: relative;
    border-left: 1px solid black;
}
.wp-post-information .wp-post-information_lorem p{
    font-weight: 400;
    font-size: 19px;
    line-height: 1.4;
    margin: 50px 0;
    padding-left: 40px;
    color: black;
}
.wp-post-information .gap-default{
    display: flex;
}
.wp-post-information .gap-default .img1{
    padding-right: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.wp-post-information .gap-default .img2{
    padding-left: 20px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.wp-post-information .gap-default .img2 p,
.wp-post-information .gap-default .img1 p{
    padding-top: 30px;
    font-size: 1.3rem;
    font-style: italic;
    font-weight: bold;
    font-family: 'Jost', sans-serif !important;
    color: var(--black-color);
    width: 90%;
}
.wp-post-information h1{
    font-weight: 400;
    color: #000;
    font-size: 30px;
    line-height: 1.12em;
    margin: 25px 0;
    -ms-word-wrap: break-word;
    word-wrap: break-word;
}
.wp-post-information p{
    padding-top: 20px;
}
.wp-post-information ul{
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-wrap: wrap;
    padding: 20px 0;
    margin: 0 -15px;
    list-style: none;
    clear: both;
}
.wp-post-information ul li {
    margin: 5px;
    width: 32%;
    list-style: none;
    position: relative;
}
.wp-post-information .feature-collection--product__item {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
    padding: 6px 10px;
    overflow: hidden;
}

.wp-post-information .feature-collection--product__item + .feature-collection--product__item {
    margin: 8px;
    text-decoration: none;
}

.wp-post-information .feature-collection--product__item:last-child {
    margin: 0;
    text-decoration: none;
}

.wp-post-information .feature-collection--product__item img {
    width: 100%;
}

.wp-post-information .feature-collection--product__item h4 {
    width: 100%;
    margin-top: 20px;
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--text-color);
}

.btn-add-cart {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
}

.wp-post-information .btn-add-cart {
    width: 110px;
    position: relative;
    min-width: 80px;
    overflow: hidden;
    transition: all linear 0.2s;
}

.btn-add-cart::after {
    font-size: 1.5rem;
    content: 'Add to cart';
    font-weight: 700;
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    height: 0%;
    transition: all linear 0.4s;
}

.feature-collection--product__item:hover .btn-add-cart {
    color: transparent;
}

.feature-collection--product__item:hover .btn-add-cart::after {
    height: 98%;
    color: var(--text-color);
}

.btn-add-cart::before {
    content: url('../images/home/add_to_cart.svg');
    position: absolute;
    top: 2px;
    left: -14px;
    color: var(--black-color);
    transition: all linear 0.4s;
}

.btn-add-cart:hover::after {
    right: -26px;
}

.btn-add-cart:hover::before {
    left: 6px;
}

.btn-add-cart:hover {
    width: 110px;
}

