/* Begin css Header */
#header {
    z-index: 100;
    font-family: 'Jost', sans-serif !important;
    height: var(--height-header);
    width: 100%;
    border-bottom: 1px solid var(--border-color);
    position: fixed;
    top: 0;
    transition: top 1s;
    background-color: var(--white-color);
}

.header-grid {
    height: 100%;
}

.header-content {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav-menu {
    list-style: none;
    font-size: 1.5rem;
    color: var(--text-color);
    height: var(--height-header);
    margin-bottom: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.header-nav-menu > li {
    line-height: var(--height-header);
    margin: 0 18px;
    padding-right: 10px;
    position: relative;
    transition: 0.2s;
}

.header-nav-menu > li:hover {
    opacity: 0.8;
}

.header-nav-menu > li:first-child {
    margin-left: 0;
}

.header-nav-menu > li:last-child {
    margin-right: 0;
}

.header-nav-menu > li > a {
    font-family: 'Jost', sans-serif !important;
    font-weight: 400 !important;
    text-decoration: none;
    color: var(--text-color);
    font-weight: 600;
    outline: none;
}

.header-nav-menu > li:hover .nav-sub-menu {
    display: block;
}

/* Sub menu */
.nav-sub-menu {
    position: absolute;
    left: -20px;
    top: 100%;
    min-width: 160px;
    padding: 11px 0;
    box-shadow: 0 2px 3px #ccc;
    background-color: var(--white-color);
    display: none;
    transform-origin: 50% top;
    animation: scrollBottom linear 0.3s;
    transition: opacity 0.3s, transform 0.3s;
}

.nav-sub-menu > li {
    font-size: 1.6rem;
    line-height: 2.8rem;
    list-style: none;
    padding: 0 27px;
}

.nav-sub-menu > li > a {
    font-family: 'Jost', sans-serif !important;
    font-weight: 400 !important;
    text-decoration: none;
    color: var(--text-color);
}

/* Logo */
.header-logo {
    height: var(--height-header);
    display: flex;
    align-items: center;
}

.header-logo img {
    height: 60%;
}

/* nav right */
.header-nav-right {
    display: flex;
    align-items: center;
    flex: end;
    justify-content: space-between;
    font-size: 1.6rem;
}

.header-nav-right .header-nav-right-item {
    text-decoration: none;
    color: var(--text-color);
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-nav-right-item > i {
    margin-right: 8px;
}

.header-nav-right-item > span {
    font-weight: 400;
    margin-right: 3px;
}

/* End Header */

/* Modal search header */
.modal-header-search {
    width: 100%;
    min-height: 100%;
    z-index: 99;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(29, 29, 29, 0.4);
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 1s, opacity 1s linear;
}
.modal-header-search.show {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s linear;
}

.modal-search-main {
    background-color: #ffffff;
    border-bottom: 1px solid #ccc;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    min-height: 50%;
    max-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    animation: showModal linear 1s;
}

.modal-wrapper-input-search {
    height: var(--height-header);
    width: 670px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px solid var(--border-color);
}

.modal-search-main-input {
    flex: 1;
    height: 100%;
    outline: none;
    border: none;
    font-size: 6rem;
    font-weight: 300;
}

input.modal-search-main-input:focus {
    outline-color: #000;
}

.modal-search-icon {
    border: none;
    outline: none;
    background-color: transparent;
}
button.modal-search-icon:active,
button.modal-search-icon:focus {
    border: none;
    outline: none;
    color: black;
}
.modal-search-icon-svg {
    fill: #ccc;
    transition: fill 0.2s;
}
.modal-search-icon:hover .modal-search-icon-svg {
    fill: var(--text-color);
}

.modal-wrapper-input-search:focus ~ .modal-search-main-input {
    color: #000;
}

.modal-wrapper-input-search i {
    font-size: 35px;
    font-weight: 500;
}

.modal-search-close {
    position: absolute;
    top: 15px;
    right: 15px;
    font-size: 20px;
    transform: rotate(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.modal-search-close:hover {
    transform: rotate(90deg);
}

@keyframes transform {
    25% {
        transform: rotate(25deg);
    }
    50% {
        transform: rotate(45deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

/* End modal search header */

/* Begin modal cart */
img {
    width: 100%;
}
.modal-cart {
    z-index: 10;
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    background-color: rgba(29, 29, 29, 0.4);
    display: flex;
    display: none;
    justify-content: end;
}
.modal-cart.show {
    display: flex;
}

.modal-main-cart {
    padding-top: 50px;
    width: 430px;
    height: 100%;
    min-height: 50%;
    background-color: #fff;
    transition: translateX, opacity linear 0.4s;
    animation: showModalRightToLeft linear 0.4s;
}

.modal-cart-close {
    position: absolute;
    top: 20px;
    right: 20px;
    transform: rotate(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
    cursor: pointer;
}

.modal-cart-close:hover {
    transform: rotate(90deg);
}

.modal-cart-heading {
    font-family: 'Jost', sans-serif !important;
    font-size: 3rem;
    font-weight: 400;
    padding: 0 43px;
}

.modal-cart-main {
    min-height: 40%;
    padding: 0 43px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 10px;
}

.modal-cart-main_product {
    width: 100%;
    flex: 1;
    min-height: 40%;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 0;
}

.modal-cart-main-item {
    width: 100%;
    height: 110px;
    display: flex;
    justify-content: space-between;
    margin: 10px 0;
}

.modal-cart-main-item__image {
    width: 40%;
}
.modal-cart-main-item__image img {
    height: 100%;
    object-fit: cover;
}

.modal-cart-main-content {
    flex: 1;
    padding: 10px 4px;
}

.modal-cart-main-item__name {
    font-family: 'Jost', sans-serif !important;
    font-size: 1.6rem;
    color: var(--text-color);
}

.modal-cart-main-item__name:hover {
    color: var(--text-color);
    opacity: 0.8;
    text-decoration: none;
}

.modal-cart-main-item__quantity {
    font-family: 'Jost', sans-serif !important;
    font-size: 1.2rem;
}

.modal-cart-main-item__price {
    font-family: 'Jost', sans-serif !important;
    font-size: 1.8rem;
    margin-top: 6px;
}

.modal-cart-main-item__close {
    margin-top: 26px;
    border: 1px solid var(--border-color);
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    cursor: pointer;
    transform: rotate(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
}

.modal-cart-main-item__close:hover {
    transform: rotate(90deg);
}

.modal-cart-main-total {
    width: 100%;
    height: 50px;
    padding: 10px;
    font-family: 'Jost', sans-serif !important;
    font-size: 2.2rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-top: 1px solid var(--border-color);
    border-bottom: 1px solid var(--border-color);
}

.modal-cart-main-btn_link {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 0 43px;
}

.modal-cart-main-btn_link-view {
    width: 100%;
    height: 48px;
    border-radius: 6px;
    margin-top: 20px;
    color: var(--white-color);
    background-color: var(--black-color);
    font-family: 'Jost', sans-serif !important;
    font-size: 1.8rem;
    line-height: 48px;
    text-align: center;
    position: relative;
    transition: padding-left ease-in-out 0.3s;
}

.modal-cart-main-btn_link-view::before {
    content: url('../images/cart/add_to_cart_light.svg');
    width: 0;
    height: 30px;
    position: absolute;
    top: 0;
    left: 80px;
    overflow: hidden;
    transition: width, left, ease-in-out 0.3s;
}

.modal-cart-main-btn_link-view:hover::before {
    width: 14px;
    left: 68px;
}

.modal-cart-main-btn_link-view:hover {
    text-decoration: none;
    color: var(--white-color);
    padding-left: 12px;
}

.modal-cart-main-btn_link-checkout {
    text-align: center;
    color: var(--text-color);
    font-family: 'Jost', sans-serif !important;
    font-size: 1.5rem;
    font-weight: 500;
    width: 45%;
    margin-top: 16px;
    position: relative;
    overflow: hidden;
    transition: padding-left linear 0.3s;
    will-change: opacity;
}

.modal-cart-main-btn_link-checkout::before {
    content: url('../images/arrow.svg');
    width: 14px;
    height: 30px;
    position: absolute;
    top: 0;
    left: -16px;
    transition: left linear 0.3s;
}

.modal-cart-main-btn_link-checkout:hover {
    padding-left: 16px;
    color: var(--text-color);
    opacity: 0.9;
}

.modal-cart-main-btn_link-checkout:hover::before {
    left: 0;
}

/* Cart no item */
.modal-cart-no-item {
    display: flex;
    flex-wrap: wrap;
    padding: 0 43px;
    min-height: 80%;
}

.modal-cart-no-item__alert {
    width: 100%;
    font-family: 'Jost', sans-serif !important;
    font-size: 1.6rem;
    margin-top: 6px;
    font-weight: 400;
}

.modal-cart-no-item__link {
    width: 100%;
    height: 45px;
    font-family: 'Jost', sans-serif !important;
    font-size: 1.8rem;
    text-align: center;
    line-height: 45px;
    background-color: var(--black-color);
    border-radius: 8px;
    color: var(--white-color);
    position: relative;
    transition: padding-left linear 0.3s;
}

.modal-cart-no-item__link::before {
    content: url('../images/cart/add_to_cart_light.svg');
    width: 0;
    height: 30px;
    position: absolute;
    top: 0;
    left: 80px;
    overflow: hidden;
    transition: width, left, ease-in-out 0.3s;
}

.modal-cart-no-item__link:hover {
    color: var(--white-color);
    padding-left: 14px;
}

.modal-cart-no-item__link:hover::before {
    left: 70px;
    width: 14px;
}

/* End modal cart */

/* Css Footer */
#footer {
    width: 100%;
    border-top: 1px solid var(--border-color);
    padding-top: 60px;
}

.footer-grid {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.footer-grid-item {
    display: flex;
    flex-wrap: wrap;
    flex-flow: column;
    min-height: 200px;
    padding: 0;
}

.footer-grid-item h3 {
    font-size: 1.5rem;
    font-family: 'Jost', sans-serif !important;
    padding: 0;
    margin-bottom: 20px;
}

.footer-grid-item ul {
    flex: 1;
    padding: 0;
    margin: 0;
}
.footer-grid-item ul li {
    list-style: none;
    margin-bottom: 10px;
    position: relative;
    overflow: hidden;
}

.footer-grid-item ul li a {
    font-family: 'Jost', sans-serif !important;
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.6rem;
    transition: padding-left linear 0.3s;
}

.footer-grid-item ul li a::before {
    content: url('../images/arrow.svg');
    width: 12px;
    height: 22px;
    position: absolute;
    top: 0;
    left: -12px;
    transition: left linear 0.3s;
}
.footer-grid-item ul li a:hover {
    padding-left: 16px;
}

.footer-grid-item ul li a:hover:before {
    left: 0;
}

.footer-bottom {
    justify-content: space-between;
    align-items: flex-end;
    padding: 130px 0 30px;
}

.footer-bottom a {
    height: 70px;
}

.footer-bottom a img {
    height: 70px;
    margin-right: 10px;
}

.footer-bottom p {
    font-family: 'Jost', sans-serif !important;
    font-size: 1.3rem;
    margin-bottom: 10px;
}

.footer-bottom span {
    font-family: 'Jost', sans-serif !important;
    font-size: 1.3rem;
    flex: 1;
    text-align: right;
    margin-bottom: 10px;
}

.footer-bottom span a {
    color: var(--text-color);
    text-decoration: underline;
}

/* End css Footer */
